{% extends 'main/base.html' %}

{% block title %}Регистрация - Design.pro{% endblock %}

{% block content %}
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <p>
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <small style="color: grey;">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <ul style="color: red;">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endfor %}

        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="enter">
        <p><a href="{% url 'login' %}">Уже есть аккаунт? Войти</a></p>
    </div>
{% endblock %}